<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OnlinePayment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVerify">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IVerify1" />
                <binding name="TokenServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="TokenServicePortBinding1" />
                <binding name="TransactionReferencePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="TransactionReferencePortBinding1" />
                <binding name="merchantservicesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="merchantservicesSoap1" />
                <binding name="BasicHttpBinding_ITokens">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ITokens1" />
                <binding name="PaymentGatewayImplServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentGatewayImplServiceSoapBinding1" />
                <binding name="SaleServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SaleServiceSoap1" />
                <binding name="ConfirmServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ConfirmServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ikc.shaparak.ir/TVerify/Verify.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVerify"
                contract="IranKishVerifyWebService.IVerify" name="BasicHttpBinding_IVerify" />
            <endpoint address="https://mabna.shaparak.ir:443/TokenService"
                binding="basicHttpBinding" bindingConfiguration="TokenServicePortBinding"
                contract="MabnaCardTokenService.TokenService" name="TokenServicePort" />
            <endpoint address="https://mabna.shaparak.ir:443/TransactionReference/TransactionReference"
                binding="basicHttpBinding" bindingConfiguration="TransactionReferencePortBinding"
                contract="MabnaCardVerifyService.TransactionReference" name="TransactionReferencePort" />
            <endpoint address="https://services.asanpardakht.net/paygate/merchantservices.asmx"
                binding="basicHttpBinding" bindingConfiguration="merchantservicesSoap"
                contract="AsanPardakhtService.merchantservicesSoap" name="merchantservicesSoap" />
            <endpoint address="https://ikc.shaparak.ir/TToken/Tokens.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokens"
                contract="IranKishTokenWS.ITokens" name="BasicHttpBinding_ITokens" />
            <endpoint address="https://bpm.shaparak.ir/pgwchannel/services/pgw"
                binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplServiceSoapBinding"
                contract="BehPardakhtWebService.IPaymentGateway" name="PaymentGatewayImplPort" />
            <endpoint address="https://pec.shaparak.ir/NewIPGServices/Sale/SaleService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SaleServiceSoap"
                contract="TejaratElecParsianService.SaleServiceSoap" name="SaleServiceSoap" />
            <endpoint address="https://pec.shaparak.ir/NewIPGServices/Confirm/ConfirmService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConfirmServiceSoap"
                contract="TejaratElecParsianConfirm.ConfirmServiceSoap" name="ConfirmServiceSoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <OnlinePayment.Properties.Settings>
      <setting name="OnlinePayment_SadadServiceSwitch1_MerchantUtility" serializeAs="String">
        <value>https://sadad.shaparak.ir/merchantutility.asmx</value>
      </setting>
    </OnlinePayment.Properties.Settings>
  </applicationSettings>
</configuration>